.button {
  text-transform: uppercase;
  display: block;
  background-color: var(--color-wrapper-background);
  transition: background-color 150ms linear;
  color: var(--color-text);
  border: 0;
  padding: var(--padding-medium);
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-internal-border);
}

.button:active {
  background-color: var(--color-internal-border);
}

.button:disabled {
  color: var(--color-text-disabled);
  background-color: var(--color-wrapper-background);
  cursor: not-allowed;
}

.buttonBar {
  display: flex;
  flex-direction: row;
}

.buttonBar > .button {
  flex: 1 0 10px;
}

@media (max-width: 625px) {
  .buttonBar {
    flex-direction: column;
  }
}
