.subheading {
  text-transform: uppercase;
  margin: var(--padding-large) var(--padding-medium) 0 var(--padding-medium);
  text-align: center;
  font-weight: bold;
  display: block;
}

.heading {
  text-align: center;
  font-weight: bold;
  display: block;
  margin: var(--padding-large) var(--padding-medium);
}
