.company {
  text-transform: capitalize;
  margin: 40px 20px 0 20px;
  text-align: center;
  font-weight: bold;
  display: block;
}

.title {
  text-align: center;
  font-weight: bold;
  display: block;
  margin: 40px 20px 40px 20px;
}
