.questionTitle {
  padding: var(--padding-large);
  border-bottom: 2px solid var(--color-internal-border);
}

.activityName {
  text-transform: uppercase;
  margin: 0 0 var(--padding-large) 0;
  font-weight: bold;
  display: block;
}

.questionNumber {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  font-size: 2em;
}

.stimulus {
  padding: var(--padding-medium) var(--padding-large);
  border-bottom: 2px solid var(--color-internal-border);
  line-height: 140%;
}
