.activityName {
  text-transform: uppercase;
  margin: var(--padding-large) var(--padding-large) 0 var(--padding-large);
  font-weight: bold;
  display: block;
}

.roundName {
  margin: var(--padding-large);
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  font-size: 2em;
}
