.wrapper {
  border: 2px solid #cee8fe;
  background-color: #ffffff;
  color: #2699fb;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.thin {
  min-width: 300px;
}

.wide {
  min-width: 600px;
}
