.wrapper {
  border: 2px solid #cee8fe;
  background-color: #ffffff;
  color: #2699fb;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  min-height: 350px;
}

.wrapper > *:last-child {
  flex-grow: 1;
}

.thin {
  min-width: 300px;
}

.wide {
  width: 600px;
}
